{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h3 class="text-center">Смена пароля</h3><br/>
    {% if validlink %}
        {% crispy form %}
    {% else %}
        <div class="alert alert-danger">
            <p>
                Ссылка недействительна. Вероятно, вы уже ей пользовались.<br />
                Попробуйте запросить смену пароля <a href="{% url 'password_reset' %}">ещё раз</a>.
            </p>
        </div>
    {% endif %}
{% endblock %}
