{% extends 'mail/base.html' %}
{% load agora_core %}

{% block content %}
    <p>Вы получили это письмо, так как ваш email был указан в заявке на восстановление пароля на сайте {{ home_url }}.
    Если вы не запрашивали восстановление пароля, проигнорируйте это письмо.
    </p>
    <p>Чтобы выбрать новый пароль, пройдите, пожалуйста, по ссылке:<br/>
        <a href="{{ home_url }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            {{ home_url }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        </a>
    </p>

    <p>Ваш логин для входа на сайт: {{ user.username }}</p>
{% endblock %}




